.home{
    background: #FFFAEB;
    /* margin-left: 50px; */
    background-image: url('./image/Frame.png');
    background-size: 800px 600px;
    background-position: right top 25px;
    background-repeat: no-repeat;
    border-bottom: 2px solid #000000;
}

.home-text{
    margin-left: 50px;
    width: 599px;
    display: flex;
}
.naming{
    margin-top: 50px;
}

.head h3{
    
     font-size: 96px;
     font-weight: 600;
     font-family: poppins;
     line-height: 144px;
}
.head span{
    color: #FF8400
}

.head p{
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    margin-top: 10px;
}

.para{
    display: flex;
    margin-top: 25px;
    gap: 70px;
}

.par{
    font-size: 25px;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 30px;
    background: #FFF5D6;
    padding: 10px 28px;
    text-align: center;
}

.btn{
    font-size: 25px;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 15px;
    background: #FF8400;
    padding: 10px 45px;
    color: #080101;
    text-align: center;
}

.btn:hover{
    transform: translateY(-5px) scale(1.02);
}



.cust{
    margin:100px 50px;
    display: flex;
    gap:60px;
    justify-content: center;
    text-align: center;

}

.comp{
    border-right: 1px solid black;
    padding-right: 30px;
}

.comp h3{
    font-size: 40px;
    line-height: 72px;
    font-weight: 600;
    color: #FF8400;
}
.comp p{
    font-size: 35px;
    line-height: 60px;
    font-weight: 400;
}

.comp1 h3{
    font-size: 48px;
    line-height: 72px;
    font-weight: 400;
    text-align: center;
    color: #FF8400;
}
.comp1 p{
    font-size: 40px;
    line-height: 60px;
    font-weight: 400;
}



