.part{
    background: #FFFAEB;
}
.parts{
    margin-left: 50px;
}
 .parts h3{
    font-size: 52px; 
    font-weight: 600;
    line-height: 78px;
    align-content: center;
}

.lense{
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
}

.imgs{
    border: 1px solid transparent;
    background: #FFF5D6;
    padding: 10px;
}

.imgs img:hover{
    transform: translateY(-2px) scale(1.03);
}
 .page{
    display: flex;
    justify-content: center;
    margin-top: 50px;
 }
 .last-name{
    font-size: 45px;
    font-weight: 600;
    color: #000000;
    display: flex;
    justify-content: center;
    margin-top: 75px;
    padding: 12px 12px 75px 0px;
 }